# Multiple linear regression
If more than one variable is needed, it is possible to use a multiple linear regression.

In [ ]:
from google.colab import drive
drive.mount('/content/Drive')

Drive already mounted at /content/Drive; to attempt to forcibly remount, call drive.mount("/content/Drive", force_remount=True).

In [ ]:
%cd '/content/Drive/MyDrive/Colab Notebooks/MachineLearning/Models/LinearRegression/Linear Example Advanced/Multiple Linear Regression'
!ls

/content/Drive/MyDrive/Colab Notebooks/MachineLearning/Models/LinearRegression/Linear Example Advanced/Multiple Linear Regression
'Dummies for MultipleRegression.csv'   MultipleRegression.ipynb
 MultipleData.csv

## Importing the necessary libraries
The following libraries are imported:
- numpy: For handling arrays efficiently.
- pandas: For managing data in the form of a DataFrame, similar to excel.
- matplotlib.pyplot: To make graphs.
- statmodels: To perform the linear regression model.
- seaborn: To style matplotlib plots.
- tabulate: To draw tables with the data.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn
from tabulate import tabulate
seaborn.set()

## Cargando la data

In [ ]:
data = pd.read_csv('MultipleData.csv')

The same data is observed from the simple linear regression example:
- "SAT score": Contains "reading comprehension", "math" and "Writing".
- "GPA": Grade point average, obtained upon completion of university.

But we add the variable **Rand 1,2,3**, which is a random assignment of numbers from one to three to the students, so this variable **probably has no predictive value**.

In [ ]:
data

     SAT   GPA  Rand 1,2,3
0   1714  2.40           1
1   1664  2.52           3
2   1760  2.54           3
3   1685  2.74           3
4   1693  2.83           2
..   ...   ...         ...
79  1936  3.71           3
80  1810  3.71           1
81  1987  3.73           3
82  1962  3.76           1
83  2050  3.81           2

[84 rows x 3 columns]

In [ ]:
data.describe()

               SAT        GPA  Rand 1,2,3
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    2.059524
std     104.530661   0.271617    0.855192
min    1634.000000   2.400000    1.000000
25%    1772.000000   3.190000    1.000000
50%    1846.000000   3.380000    2.000000
75%    1934.000000   3.502500    3.000000
max    2050.000000   3.810000    3.000000

# Creating the regression model
Since one **(SAT)** is the score in critical areas and the other**(GPA)** is the score at the end of college, it makes sense that there is a relationship between the two, so we define **GPA** as the dependent variable and **SAT** as the independent variable.

In this case another independent variable will be **Rand 1,2,3**.

In [ ]:
y = data ['GPA']
x1 = data [['SAT','Rand 1,2,3']]

It is necessary to add a constant, using the **add_constant** function.

In [ ]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.407
Model:                            OLS   Adj. R-squared:                  0.392
Method:                 Least Squares   F-statistic:                     27.76
Date:                Wed, 09 Feb 2022   Prob (F-statistic):           6.58e-10
Time:                        05:22:30   Log-Likelihood:                 12.720
No. Observations:                  84   AIC:                            -19.44
Df Residuals:                      81   BIC:                            -12.15
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2960      0.417      0.710      0.480      -0.533       1.125
SAT            0.0017      0.000      7.432      0.000       0.001       0.002
Rand 1,2,3    -0.0083      0.027     -0.304      0.762      -0.062       0.046
==============================================================================
Omnibus:                       12.992   Durbin-Watson:                   0.948
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               16.364
Skew:                          -0.731   Prob(JB):                     0.000280
Kurtosis:                       4.594   Cond. No.                     3.33e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.33e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Other important concepts before performing a linear regression
It is important to keep in mind that there are assumptions prior to performing a linear regression, for more information this [video] is recommended (https://youtu.be/0MFpOQRY0rw)

## Linearity
Linearity is based on the assumption that the data used has a linear nature, the best way to verify this is by means of a **Scatter plot**. **It is possible to fix this problem by means of a logarithmic transformation**.

## Endogeneity
Endogeneity is a very important issue and this happens when an unused variable has greater weight than a used variable, such as if a sample of London apartments is taken using two variables: the price of the space (Dependent) and the size of the space. space(independent), let's imagine that in the example we have a negative slope, which is totally counterintuitive, so that when we analyze the problem more closely we realize that within the city of london is the center of london, the which is known for having the most expensive spaces in the world, then by adding one more variable indicating whether it belongs to the center or not it is possible to remedy the problem. Another way to work around the problem is by using a process called [Two-Stage Least-Squares Regression](https://www.ibm.com/docs/en/spss-statistics/SaaS?topic=regression-two-stage-least -squares). One way to detect endogeneity is through the [Durbin-Wu-Hausman (DWH)](https://www.statisticshowto.com/hausman-test/) test, this test is done within the Two-Stage Least-Squares Regression.

## Normality and Homoelasticity
This part is divided into 3 sections:

- Normality, in order to obtain inferences such as the **t-test** it is necessary that the sample has a normal distribution.
- The mean is equal to 0. It is also used for the **t-test** test but if it has an intercept it can be assumed that it is correct.
- Homoelasticity, when you have a conical graph we could say that the small values are easier to predict than the large ones. This is fixed by transforming **x** and **y** to their logarithmic form with **np.log **, so the formula would look like this:
$$log(y) = intercept + slope(log(x))$$

## Autocorrelation
It occurs when working with time series only as stock market indices that are repeated every week or similar, it tries that the dependent variable is related to itself, ** this makes all statistics unreliable, be it r squared, t or f **, the way to find this problem is through the Durbin-Watson test.

The value of the test ranges from 1 to 3, if it is 2 or close to this it means that **there is no autocorrelation**, but if it is less than 1 or greater than 3 **there is autocorrelation**.

```
Durbin-Watson: 0.948
```

The above case is a case of autocorrelation, in this case it is best to change the model and not apply linear regression.

## Multicollinearity
Multicollinearity occurs when two or more independent variables are related to each other, since these two or more variables are related, the fluctuation of one affects the other in this way making these variables unreliable.

One way to know if there is multicollinearity is through a **correlation** between the variables, something to keep in mind is that **if the correlation is greater than 85 it is a problem but nothing worse than when it is greater than 90 **. There is a better technique to know if multicollinearity exists and it is called **VIF**, for more information visit the following link https://statisticalhorizons.com/multicollinearity/.

### Example

Let's imagine a comparison, let's imagine that our independent variables are advertisements on TV, radio and newspapers and our dependent variable is the amount of sales, so we want to know how our sales increase if we make advertisements in these 3, first we will do it with simple linear regressions for each independent variable.

```
╒════════════╤════════════════╤══════════════════╤═════════════════╤═══════════╕
│            │   Coeficientes │   Error standard │   Estadistico t │ Valor p   │
╞════════════╪════════════════╪══════════════════╪═════════════════╪═══════════╡
│ Intercepto │         7.0325 │           0.4578 │           15.36 │ < 0.0001  │
├────────────┼────────────────┼──────────────────┼─────────────────┼───────────┤
│ Tv         │         0.0475 │           0.0027 │           17.67 │ < 0.0001  │
╘════════════╧════════════════╧══════════════════╧═════════════════╧═══════════╛

╒════════════╤════════════════╤══════════════════╤═════════════════╤═══════════╕
│            │   Coeficientes │   Error standard │   Estadistico t │ Valor p   │
╞════════════╪════════════════╪══════════════════╪═════════════════╪═══════════╡
│ Intercepto │          9.312 │            0.563 │           16.54 │ < 0.0001  │
├────────────┼────────────────┼──────────────────┼─────────────────┼───────────┤
│ Radio      │          0.203 │            0.02  │            9.92 │ < 0.0001  │
╘════════════╧════════════════╧══════════════════╧═════════════════╧═══════════╛

╒════════════╤════════════════╤══════════════════╤═════════════════╤═══════════╕
│            │   Coeficientes │   Error standard │   Estadistico t │ Valor p   │
╞════════════╪════════════════╪══════════════════╪═════════════════╪═══════════╡
│ Intercepto │         12.351 │            0.621 │           19.88 │ < 0.0001  │
├────────────┼────────────────┼──────────────────┼─────────────────┼───────────┤
│ Periodico  │          0.055 │            0.017 │            3.3  │ < 0.00115 │
╘════════════╧════════════════╧══════════════════╧═════════════════╧═══════════╛
```
So far they all have influence, so we will do a multiple linear regression.

```
╒════════════╤═══════════════╤══════════════════╤═════════════════╤═══════════╕
│            │   Coeficiente │   Error estandar │   Estadistico t │ Valor p   │
╞════════════╪═══════════════╪══════════════════╪═════════════════╪═══════════╡
│ Intercepto │         2.939 │           0.3119 │            9.42 │ < 0.0001  │
├────────────┼───────────────┼──────────────────┼─────────────────┼───────────┤
│ Tv         │         0.46  │           0.0014 │           32.81 │ < 0.0001  │
├────────────┼───────────────┼──────────────────┼─────────────────┼───────────┤
│ Radio      │         0.189 │           0.0086 │           21.89 │ < 0.0001  │
├────────────┼───────────────┼──────────────────┼─────────────────┼───────────┤
│ Periodico  │        -0.001 │           0.0059 │           -0.18 │ 0.8599    │
╘════════════╧═══════════════╧══════════════════╧═════════════════╧═══════════╛
```

At this point it is necessary to observe that the independent variable "Periodical" has a much lower coefficient and a much higher p-value than in the simple regression, so that it becomes very unnecessary, but to know why this phenomenon is necessary evaluate it with a correlation.

```
╒═══════════╤══════╤═════════╤═════════════╤══════════╕
│           │   Tv │   Radio │   Newspaper │   Sales  │
╞═══════════╪══════╪═════════╪═════════════╪══════════╡
│    Tv     │    1 │  0.0548 │      0.0567 │   0.7822 │
├───────────┼──────┼─────────┼─────────────┼──────────┤
│   Radio   │      │  1      │      0.3541 │   0.5762 │
├───────────┼──────┼─────────┼─────────────┼──────────┤
│ Periodico │      │         │      1      │   0.2283 │
├───────────┼──────┼─────────┼─────────────┼──────────┤
│  Ventas   │      │         │             │   1      │
╘═══════════╧══════╧═════════╧═════════════╧══════════╛
```

Here we can see that "Radio" and "Newspaper" have a correlation of 0.3541, which is relatively high so we can infer that people who watch the newspaper also listen to the radio, so the newspaper is a surrogate for the radio. and radio ads are better received than TV ads.

# Working with categorical data
Categorical data is non-numeric data, so it is impossible for a computer to process. The solution is to convert them into numerical data. For this another **Dataset** will be used.

In [ ]:
ddf = pd.read_csv('Dummies for MultipleRegression.csv')
ddf

     SAT   GPA Attendance
0   1714  2.40         No
1   1664  2.52         No
2   1760  2.54         No
3   1685  2.74         No
4   1693  2.83         No
..   ...   ...        ...
79  1936  3.71        Yes
80  1810  3.71        Yes
81  1987  3.73         No
82  1962  3.76        Yes
83  2050  3.81        Yes

[84 rows x 3 columns]

There are multiple ways to generate **"Dummy"** variables or to convert categorical data to numeric data.

In [ ]:
# of form build-in

dummies = pd.get_dummies(ddf['Attendance'])
dummies

    No  Yes
0    1    0
1    1    0
2    1    0
3    1    0
4    1    0
..  ..  ...
79   0    1
80   0    1
81   1    0
82   0    1
83   0    1

[84 rows x 2 columns]

In [ ]:
# Using map

ddf['dummies'] = ddf['Attendance'].map({'Yes':1, 'No':0})
ddf

     SAT   GPA Attendance  dummies
0   1714  2.40         No        0
1   1664  2.52         No        0
2   1760  2.54         No        0
3   1685  2.74         No        0
4   1693  2.83         No        0
..   ...   ...        ...      ...
79  1936  3.71        Yes        1
80  1810  3.71        Yes        1
81  1987  3.73         No        0
82  1962  3.76        Yes        1
83  2050  3.81        Yes        1

[84 rows x 4 columns]

# predictions

In [ ]:
# Create a new data frame, identical in organization to X.
# The constant is always 1, while each of the lines corresponds to an observation (student)
new_data = pd.DataFrame({'const': 1,'SAT': [1700, 1670], 'Attendance': [0, 1]})
# By default, when you create a df (not load, but create), the columns are sorted alphabetically
# So if we don't reorder them, they would be 'Attendance', 'const', 'SAT'
# If you feed them in the wrong order, you will get wrong results!
new_data = new_data[['const','SAT','Attendance']]
new_data

   const   SAT  Attendance
0      1  1700           0
1      1  1670           1

In [ ]:
# I am renaming the indices for the purposes of this example.
# That's by not really a good practice => I won't overwrite the variable.
# If I want to use NumPy, sklearn, etc. methods on a df with renamed indices, they will simply be lost
# and returned to 0,1,2,3, etc.
new_data.rename(index={0: 'Bob',1:'Alice'})

       const   SAT  Attendance
Bob        1  1700           0
Alice      1  1670           1

In [ ]:
# Use the predict method on the regression with the new data as a single argument
predictions = results.predict(new_data)
# The result
predictions

0    3.107054
1    3.049178
dtype: float64

In [ ]:
# If we want we can create a data frame, including everything
predictionsdf = pd.DataFrame({'Predictions':predictions})
# Join the two data frames
joined = new_data.join(predictionsdf)
# Rename the indices as before (not a good practice in general) 
joined.rename(index={0: 'Bob',1:'Alice'})

       const   SAT  Attendance  Predictions
Bob        1  1700           0     3.107054
Alice      1  1670           1     3.049178

# Using sklearn
It is important to use **sklearn**, although **statmodels** is quite efficient to generate the linear regression model, it is important to know that **statmodels** is more used for teaching purposes, while **sklearn** is much more professional.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
sns.set()

In [ ]:
reg = LinearRegression()
reg.fit(data[['SAT', 'Rand 1,2,3']], data['GPA'])

LinearRegression()

## coef_
Returns the coefficients of the linear regression.

In [ ]:
reg.coef_

array([ 0.00165354, -0.00826982])

## intercept_
Returns the intercept of the linear regression.

In [ ]:
reg.intercept_

0.29603261264909486

## score
Returns the value equivalent to **r squared**.

In [ ]:
reg.score(data[['SAT', 'Rand 1,2,3']], data['GPA'])

0.4066811952814283

## Adjusted R squared
When using multiple linear regression it is also necessary to use an **adjusted r squared** that penalizes the number of variables used so that it allows us to know if increasing variables helped the model or made it worse. The following function uses the parameters **'n'(total number of items in the 'X')**, **'p'(number of independent variables)** and **'r'(r squared)** .
$$R^2_{adj.} = 1 - (1-R^2)*\frac{n-1}{n-p-1}$$

In [ ]:
def rTight(n, p, r):

     result = 1-(1-r)*(n-1)/(n-p-1)

     return result

# In this case the fitted r is less than r so that one or more variables have
# Minimal or no relationship with the dependent variable.
# Thus impoverishing the model

rTight(84, 2, reg.score(data[['SAT', 'Rand 1,2,3']], data['GPA']))

0.3920313482513401

## f_regression
This is the **f** statistic, but in the case of **sklearn** unlike **statmodels**, **sklearn** creates a regression line for each independent variable, so it is possible to apply the **f** test on each variable. **f_regression** returns two arrays, one corresponding to the **f** statistic and the other to the corresponding **p** value of the statistic.

In [ ]:
from sklearn.feature_selection import f_regression

f, p = f_regression(data[['SAT', 'Rand 1,2,3']], data['GPA'])

print(f)

# Notese que el segundo valor p es de lejos mayor a 0.05, de modo que la segunda variable no es util.

print(p.round(4))

[56.04804786  0.17558437]
[0.     0.6763]

## Standardization
When working with very unequal data, it is necessary to standardize them. Imagine that you have the following transaction data:

```
╒═══════╤═══════════════════╤═══════════╕
│ Day │ Rate of change │ Volume │
╞═══════╪═══════════════════╪═══════════╡
│ 1 │ 1.3 │ 110000 │
├───────┼───────────────────┼───────────┤
│ 2 │ 1.34 │ 98700 │
├───────┼───────────────────┼───────────┤
│ 3 │ 1.25 │ 135000 │
╘═══════╧═══════════════════╧═══════════╛
```
There is a big difference between **"rate of change"** and **"volume"**, so once this is converted to **z-points** it becomes:

```
╒═══════╤═══════════════════╤═══════════╕
│ Day │ Rate of change │ Volume │
╞═══════╪═══════════════════╪═══════════╡
│1 │0.07 │ -0.25 │
├───────┼───────────────────┼───────────┤
│2 │0.96 │ -0.85 │
├───────┼───────────────────┼───────────┤
│3 │ -1.03 │ 1.1 │
╘═══════╧═══════════════════╧═══════════╛
```
This table has obviously more even and readable data.

In [ ]:
from sklearn.preprocessing import StandardScaler

# Note that the values in x are standardized

scaler = StandardScaler()
x_scaled = scaler.fit_transform(data[['SAT', 'Rand 1,2,3']])

In [ ]:
from tabulate import tabulate

reg_scaled = LinearRegression()
reg_scaled.fit(x_scaled, data['GPA'])

scaled_coefs = {'Without standardized': reg.coef_, 'With standardized': reg_scaled.coef_}

# Note that after doing the standardization it is easier to tell which variables are more useful.
# Since the difference is more noticeable, being Rand 1,2,3 the less influential variable.

print(tabulate(scaled_coefs, tablefmt='fancy_grid', headers= scaled_coefs.keys(), showindex=['SAT', 'Rand 1,2,3']))

╒════════════╤════════════════════╤═════════════════════╕
│            │   Sin estandarizar │   Con estandarizado │
╞════════════╪════════════════════╪═════════════════════╡
│ SAT        │         0.00165354 │          0.171814   │
├────────────┼────────────────────┼─────────────────────┤
│ Rand 1,2,3 │        -0.00826982 │         -0.00703007 │
╘════════════╧════════════════════╧═════════════════════╛

## Predictions with standardized data

In [ ]:
# Data is created to generate predictions.

new_data = pd.DataFrame(data=[[1700,2],[1800,1]],columns=['SAT','Rand 1,2,3'])
new_data

    SAT  Rand 1,2,3
0  1700           2
1  1800           1

In [ ]:
# Comparison between the model with standardization and without standardization.

from tabulate import tabulate

model_contrast = {'No standardization': reg.predict(new_data),
                 'With standardization': reg_scaled.predict(new_data)}

# Note that both predictions are different.
# The prediction with standardization is even illogical.

print(tabulate(model_contrast, tablefmt='fancy_grid', headers=model_contrast.keys()))

╒═══════════════════════╤═══════════════════════╕
│   Sin estandarizacion │   Con estandarizacion │
╞═══════════════════════╪═══════════════════════╡
│               3.09051 │               295.4   │
├───────────────────────┼───────────────────────┤
│               3.26414 │               312.588 │
╘═══════════════════════╧═══════════════════════╛

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
# It is necessary to use transform instead of fit_transform since the initial fit must be used.

new_data_scaled = scaler.transform(new_data)

model_contrast_scaled = {'No standardization': reg.predict(new_data),
                 'With standardization': reg_scaled.predict(new_data_scaled)}

# To have the same result it is necessary to use standardized data.

print(tabulate(model_contrast_scaled, tablefmt='fancy_grid', headers=model_contrast.keys()))

╒═══════════════════════╤═══════════════════════╕
│   Sin estandarizacion │   Con estandarizacion │
╞═══════════════════════╪═══════════════════════╡
│               3.09051 │               3.09051 │
├───────────────────────┼───────────────────────┤
│               3.26414 │               3.26414 │
╘═══════════════════════╧═══════════════════════╛

In [ ]:
# The regression is presented removing the variable Rand 1,2,3.

simple_reg = LinearRegression()
x_simple_matrix = x_scaled[:,0].reshape(-1,1)
reg_simple.fit(x_simple_matrix,y)

contrast_without= {'Without standardization and with Rand 1,2,3': reg.predict(new_data),
                 'With standardization and without Rand 1,2,3': reg_simple.predict(new_data_scaled[:,0].reshape(-1,1))}

# Note that once standardized by removing the variable Rand 1,2,3 which is not very influential
# There is a difference of only decimals, so when standardizing on having or not having a variable
# Little influential becomes less damaging to the model

print(tabulate(contrast_without, tablefmt='fancy_grid', headers=contrast_without.keys()))

╒════════════════════════════════════════╤════════════════════════════════════════╕
│   Sin estandarizacion y con Rand 1,2,3 │   Con estandarizacion y sin Rand 1,2,3 │
╞════════════════════════════════════════╪════════════════════════════════════════╡
│                                3.09051 │                                3.08971 │
├────────────────────────────────────────┼────────────────────────────────────────┤
│                                3.26414 │                                3.25528 │
╘════════════════════════════════════════╧════════════════════════════════════════╛

# Underfitting y Overfitting

## Underfitting
It happens when the line does not capture the logic of the model and therefore has no predictive use. In this case it can be deduced that there is no relationship or that the model used is not adequate.

## Overfitting
It happens when the model works very well with the test data but it does not work to predict.

# Data separation
In order to build a reliable model and avoid **underfitting** or **overfitting**, it is necessary to separate the data into two groups, **test** and **train**, one for training and the other for testing.

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
from tabulate import tabulate

# Generate a sequence of numbers from 1 to 100.

a = np.arange(1,101)

# Another sequence is generated from 501 to 600.

b = np.arange(501,601)

# Note that it is possible to output data from two or more arrays at the same time.
# test_size, indicates the size of the test, 0.2 means 20% so the train is 80%.
# When distributing the data there will always be a problem since it is done randomly, so
# every time the model is run everything will change, to avoid this it is necessary to use
# the random_state attribute, which keeps the samples the same regardless of the number
# of times the model is run, keep in mind that when modifying the number
# the sample is modified, so that if 42 (the most used) were changed, it would output a sample
# different random.

a_train, a_test, b_train, b_test = train_test_split(a, b, test_size=0.2, random_state=42)

splitted_model = {'a_train': a_train, 'a_test': a_test, 'b_train': b_train, 'b_test': b_test}

print(tabulate(splitted_model, tablefmt='fancy_grid', headers=splitted_model.keys()))

╒═══════════╤══════════╤═══════════╤══════════╕
│   a_train │   a_test │   b_train │   b_test │
╞═══════════╪══════════╪═══════════╪══════════╡
│        56 │       84 │       556 │      584 │
├───────────┼──────────┼───────────┼──────────┤
│        89 │       54 │       589 │      554 │
├───────────┼──────────┼───────────┼──────────┤
│        27 │       71 │       527 │      571 │
├───────────┼──────────┼───────────┼──────────┤
│        43 │       46 │       543 │      546 │
├───────────┼──────────┼───────────┼──────────┤
│        70 │       45 │       570 │      545 │
├───────────┼──────────┼───────────┼──────────┤
│        16 │       40 │       516 │      540 │
├───────────┼──────────┼───────────┼──────────┤
│        41 │       23 │       541 │      523 │
├───────────┼──────────┼───────────┼──────────┤
│        97 │       81 │       597 │      581 │
├───────────┼──────────┼───────────┼──────────┤
│        10 │       11 │       510 │      511 │
├───────────┼──────────┼───────────┼──────────┤
│        73 │        1 │       573 │      501 │
├───────────┼──────────┼───────────┼──────────┤
│        12 │       19 │       512 │      519 │
├───────────┼──────────┼───────────┼──────────┤
│        48 │       31 │       548 │      531 │
├───────────┼──────────┼───────────┼──────────┤
│        86 │       74 │       586 │      574 │
├───────────┼──────────┼───────────┼──────────┤
│        29 │       34 │       529 │      534 │
├───────────┼──────────┼───────────┼──────────┤
│        94 │       91 │       594 │      591 │
├───────────┼──────────┼───────────┼──────────┤
│         6 │        5 │       506 │      505 │
├───────────┼──────────┼───────────┼──────────┤
│        67 │       77 │       567 │      577 │
├───────────┼──────────┼───────────┼──────────┤
│        66 │       78 │       566 │      578 │
├───────────┼──────────┼───────────┼──────────┤
│        36 │       13 │       536 │      513 │
├───────────┼──────────┼───────────┼──────────┤
│        17 │       32 │       517 │      532 │
├───────────┼──────────┼───────────┼──────────┤
│        50 │          │       550 │          │
├───────────┼──────────┼───────────┼──────────┤
│        35 │          │       535 │          │
├───────────┼──────────┼───────────┼──────────┤
│         8 │          │       508 │          │
├───────────┼──────────┼───────────┼──────────┤
│        96 │          │       596 │          │
├───────────┼──────────┼───────────┼──────────┤
│        28 │          │       528 │          │
├───────────┼──────────┼───────────┼──────────┤
│        20 │          │       520 │          │
├───────────┼──────────┼───────────┼──────────┤
│        82 │          │       582 │          │
├───────────┼──────────┼───────────┼──────────┤
│        26 │          │       526 │          │
├───────────┼──────────┼───────────┼──────────┤
│        63 │          │       563 │          │
├───────────┼──────────┼───────────┼──────────┤
│        14 │          │       514 │          │
├───────────┼──────────┼───────────┼──────────┤
│        25 │          │       525 │          │
├───────────┼──────────┼───────────┼──────────┤
│         4 │          │       504 │          │
├───────────┼──────────┼───────────┼──────────┤
│        18 │          │       518 │          │
├───────────┼──────────┼───────────┼──────────┤
│        39 │          │       539 │          │
├───────────┼──────────┼───────────┼──────────┤
│         9 │          │       509 │          │
├───────────┼──────────┼───────────┼──────────┤
│        79 │          │       579 │          │
├───────────┼──────────┼───────────┼──────────┤
│         7 │          │       507 │          │
├───────────┼──────────┼───────────┼──────────┤
│        65 │          │       565 │          │
├───────────┼──────────┼───────────┼──────────┤
│        37 │          │       537 │          │
├───────────┼──────────┼───────────┼──────────┤
│        90 │          │       590 │          │
├───────────┼──────────┼───────────┼──────────┤
│        57 │          │       557 │          │
├───────────┼──────────┼───────────┼──────────┤
│       100 │          │       600 │          │
├───────────┼──────────┼───────────┼──────────┤
│        55 │          │       555 │          │
├───────────┼──────────┼───────────┼──────────┤
│        44 │          │       544 │          │
├───────────┼──────────┼───────────┼──────────┤
│        51 │          │       551 │          │
├───────────┼──────────┼───────────┼──────────┤
│        68 │          │       568 │          │
├───────────┼──────────┼───────────┼──────────┤
│        47 │          │       547 │          │
├───────────┼──────────┼───────────┼──────────┤
│        69 │          │       569 │          │
├───────────┼──────────┼───────────┼──────────┤
│        62 │          │       562 │          │
├───────────┼──────────┼───────────┼──────────┤
│        98 │          │       598 │          │
├───────────┼──────────┼───────────┼──────────┤
│        80 │          │       580 │          │
├───────────┼──────────┼───────────┼──────────┤
│        42 │          │       542 │          │
├───────────┼──────────┼───────────┼──────────┤
│        59 │          │       559 │          │
├───────────┼──────────┼───────────┼──────────┤
│        49 │          │       549 │          │
├───────────┼──────────┼───────────┼──────────┤
│        99 │          │       599 │          │
├───────────┼──────────┼───────────┼──────────┤
│        58 │          │       558 │          │
├───────────┼──────────┼───────────┼──────────┤
│        76 │          │       576 │          │
├───────────┼──────────┼───────────┼──────────┤
│        33 │          │       533 │          │
├───────────┼──────────┼───────────┼──────────┤
│        95 │          │       595 │          │
├───────────┼──────────┼───────────┼──────────┤
│        60 │          │       560 │          │
├───────────┼──────────┼───────────┼──────────┤
│        64 │          │       564 │          │
├───────────┼──────────┼───────────┼──────────┤
│        85 │          │       585 │          │
├───────────┼──────────┼───────────┼──────────┤
│        38 │          │       538 │          │
├───────────┼──────────┼───────────┼──────────┤
│        30 │          │       530 │          │
├───────────┼──────────┼───────────┼──────────┤
│         2 │          │       502 │          │
├───────────┼──────────┼───────────┼──────────┤
│        53 │          │       553 │          │
├───────────┼──────────┼───────────┼──────────┤
│        22 │          │       522 │          │
├───────────┼──────────┼───────────┼──────────┤
│         3 │          │       503 │          │
├───────────┼──────────┼───────────┼──────────┤
│        24 │          │       524 │          │
├───────────┼──────────┼───────────┼──────────┤
│        88 │          │       588 │          │
├───────────┼──────────┼───────────┼──────────┤
│        92 │          │       592 │          │
├───────────┼──────────┼───────────┼──────────┤
│        75 │          │       575 │          │
├───────────┼──────────┼───────────┼──────────┤
│        87 │          │       587 │          │
├───────────┼──────────┼───────────┼──────────┤
│        83 │          │       583 │          │
├───────────┼──────────┼───────────┼──────────┤
│        21 │          │       521 │          │
├───────────┼──────────┼───────────┼──────────┤
│        61 │          │       561 │          │
├───────────┼──────────┼───────────┼──────────┤
│        72 │          │       572 │          │
├───────────┼──────────┼───────────┼──────────┤
│        15 │          │       515 │          │
├───────────┼──────────┼───────────┼──────────┤
│        93 │          │       593 │          │
├───────────┼──────────┼───────────┼──────────┤
│        52 │          │       552 │          │
╘═══════════╧══════════╧═══════════╧══════════╛